body {
    background-color: #fefbf5;
    font-family: Arial, sans-serif;
}
 
/* Container Styling */
.popular-courses-container {
    background-color: #fcf7eb;
    border-radius: 10px;
    padding: 50px;
}
 
/* Course Card Styling */
.course-card {
    height: 300px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s;
}
 
.course-card:hover {
    transform: scale(1.05);
}
 
.course-card img {
    border-radius: 10px;
    object-fit: cover;
}
 
/* Overlay Styling */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}
 
.course-card:hover .overlay {
    opacity: 1;
}
 
/* Download Section */
.download-section {
    background-color: #f7ece0;
    border: 1px solid #ddd;
}