body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container for centering the card */
.login-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card styling */
.login-card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 800px;
}

/* Form section styling */
.form-section {
    background-color: #fefbf5;
}

/* Image section styling */
.image-section img {
    height: 100%;
    object-fit: cover;
}

/* Custom Button */
.btn-custom {
    background-color: #5A3D31;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #72625c;
}